<h2 class="sub-header">Add Invoice</h2>

<form ng-submit="addInvoice()" ng-init="getCustomers()">

    <div class="form-group">
        <label>Service</label>
        <input type="text" class="form-control" placeholder="Service Name"
                ng-model="invoicedata1.service">
    </div>

    <div class="form-group">
        <label>Customer</label>
        <select class="form-control" ng-model="invoicedata1.customer_id"                >
            <option ng-repeat="customer in customers"
                    value="{{customer._id}}">{{customer.first_name}} {{customer.last_name}}</option>

        </select>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" placeholder="Price"
                ng-model="invoicedata1.price">
    </div>

    <div class="form-group">
        <label>Due Date</label>
        <input type="text" class="form-control" placeholder="Due Date"
                ng-model="invoicedata1.duedate">
    </div>

    <div class="form-group">
        <label>Status</label>
        <select class="form-control" ng-model="invoicedata1.status">
            <option value="Unpaid">Unpaid</option>
            <option value="Paid">Paid</option>
            <option value="Overdue">Overdue</option>
            <option value="Cancelled">Cancelled</option>
        </select>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>

<p> <pre> {{invoicedata1 | json}} </pre> </p>
