<h2 class="sub-header">Edit Invoice</h2>
<form ng-init="getInvoice(); getCustomers()" ng-submit="updateInvoice()">

    <div class="form-group">
        <label>Service</label>
        <input type="text" class="form-control" placeholder="Service"
               name="service" ng-model="invoicedata1.service"
               >
    </div>

    <div class="form-group">
        <label>Customer</label>
        <select class="form-control">
            <option ng-repeat="customer in customers" value="{{customer._id}}">
                {{customer.first_name}} {{customer.last_name}}
            </option>
        </select>

    </div>

    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" placeholder="Price"
               name="price" ng-model="invoicedata1.price"
                >
    </div>

    <div class="form-group">
        <label>Due</label>
        <input type="text" class="form-control" placeholder="Due"
               name="due" ng-model="invoicedata1.due"
               >
    </div>

    <div class="form-group">
        <label>Status</label>
        <select class="form-control" ng-model="invoicedata1.status">
            <option value="Unpaid">Unpaid</option>
            <option value="Paid">Paid</option>
            <option value="Overdue">Overdue</option>
            <option value="Cancelled">Cancelled</option>
        </select>
    </div>

    <button type="submit" class="btn btn-default">Update</button>
</form>

<p><pre>{{invoicedata1 | json}}</pre></p>