<h2 class="sub-header">Invoices</h2>

<div class="table table-responsive" ng-init="getInvoices()">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Service</th>
                <th>Price</th>
                <th>Status</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="invoice in invoices">
                <td>{{invoice._id}}</td>
                <td>{{invoice.service}}</td>
                <td>{{invoice.price}}</td>
                <td>{{invoice.due}}</td>
                <td>{{invoice.status}}</td>
                <td>{{invoice.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-primary">Detail</a>
                    <a href="" class="btn btn-default">Edit</a>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>