<h2 class="sub-header">Invoices</h2>

<div class="table table-responsive" ng-init="getInvoices()">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Service</th>
                <th>Price</th>
                <th>Due</th>
                <th>Status</th>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="invoice in invoices">
                <td>{{invoice._id}}</td>
                <td>{{invoice.service}}</td>
                <td>{{invoice.price}}</td>
                <td>{{invoice.due}}</td>
                <td>{{invoice.status}}</td>
                <!--Invoice.findOne(query, callback).populate('customer');-->
                <td>{{invoice.customer.last_name}}, {{invoice.customer.first_name}}</td>
                <td>
                    <a href="/#invoices/{{invoice._id}}" class="btn btn-primary">Detail</a>
                    <a href="/#invoices/edit/{{invoice._id}}" class="btn btn-default">Edit</a>
                    <button ng-click="removeInvoice(invoice._id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>