<h2 class="sub-header">Invoices</h2>
      <div class="table-responsive" ng-init="getInvoices()">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Customer</th>
              <th>Service</th>
              <th>Price</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="invoice in invoices">
              <td>{{invoice._id}}</td>
              <td>{{invoice.customer.first_name}} {{invoice.customer.last_name}}</td>
                <td>{{invoice.service}}</td>
                <td>{{invoice.price}}</td>
                <td>{{invoice.status}}</td>
                <td><a href="#/invoices/details/{{invoice._id}}" class="btn btn-primary">Details</a> <a href="#/invoices/edit/{{invoice._id}}" class="btn btn-default">Edit</a> <button ng-click="deleteInvoice(invoice._id)" class="btn btn-danger">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>